<div id="locations">
  <login></login>
</div>

<script type="text/x-template" id="login-template">
  <form>
    <input v-model="email" placeholder="Email">
    <input v-model="password" type="password" placeholder="Password">
    <button v-on:click="submit">Login</button>
  </form>
</script>

<script>
Vue.component("login", {
  template: "#login-template",
  data: function() {
    return {
      email: "margo@aol.com",
      password: "password"
    }
  },
  methods: {
    submit: function(e){
      e.preventDefault()
      $.post("/api/v1/auth", { auth: {email: this.email, password: this.password}}, function(data){
        console.log(data);
      })
    }
  }
})

new Vue({
  el: "#locations"
})
</script>